body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box; 
}

:root {
  --color-grey: #cccccc;
  --color-active: #2766cc;
  --color-links: #2666cc;
  --color-btn: #2666cc;
  --color-text: #827e7e;
}